{
  "extends": [
    "airbnb"
  ],
  "rules": {
    "max-len": ["warn", { "code": 120, "ignoreStrings": true, "ignoreTemplateLiterals": true }],
    "strict": "off",
    "comma-dangle": ["error", {
       "functions": "ignore",
       "arrays": "always-multiline",
       "objects": "always-multiline",
       "imports": "always-multiline",
       "exports": "always-multiline"
     }]
  }
}
